# Add one in workers/ and one in backend/src/
# App
APP_ENV=
APP_HOST=
APP_PORT=
LOG_LEVEL=

# Postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=
# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_URL=
REDIS_PASSWORD=

# Azure Blob (Azurite emulator)
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_KEY=
AZURE_BLOB_ENDPOINT=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_CONTAINER_NAME=
AZURE_CONTAINER_RAW_FOLDER_PREFIX=
AZURE_SERVICE_BUS_CONNECTION_STRING=
#AZURE_SERVICE_BUS_QUEUE_NAME=
AZURE_SERVICE_BUS_QUEUE_NAME=
AZURE_SERVICE_BUS_NORMALIZATION_QUEUE_NAME=
AZURE_SERVICE_BUS_ANONYMIZATION_QUEUE_NAME=

# Azure/OpenAI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=

TIKA_SERVER_ENDPOINT=


# Misc
SECRET_KEY=

# Auth / Firebase
FIREBASE_PROJECT_ID=
FIREBASE_PUBLIC_KEY_URI=
GOOGLE_APPLICATION_CREDENTIALS=
FRONTEND_URL=
SERVICE_ACCOUNT_JSON=
